<!DOCTYPE html>
<html>
<head>
	<title>ISP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
		$("#sort").click(function(event){
			if(document.getElementById('prc').checked == true){
				$.get('sortbyprice/' , function(data , status){
					$(".table").html(data)
				})
			}
			else if(document.getElementById('rat').checked == true){
				$.get('sortbyrating/' , function(data , status){
					$(".table").html(data)
				})
			}
			else alert("Please select how to sort !");
		});

		$(".list").on('click','a',function(event){
			var name = event.target.getAttribute('name');
			$.get('getdesc/' , {'name' : name} , function(data,status){
				$(".desc").html(data)
			})
		});
	});
	</script>
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{%static '/main.css'%}">
</head>
<body>
	<div class = "col-sm-12 header">
		<img src="{% static '/he.png' %}" alt="HackerEarth" height="70px" width="100px" style="margin-top: 10px; border-radius: 20%" class = "col-sm-1"/> 
		<div class="col-sm-6"><div class="heading">ISP HackerEarth<div class = "sub-heading">--searching made easy</div></div></div>
		<div class="col-sm-3 counter">
			<strong>TOTAL ISP :</strong> {{tot_isp}}  <strong>|</strong>  <strong>API HITS : </strong>2819
		</div>
	</div>
	<div class = "row">

		<div class = "col-sm-8 details">
			<div class="search-bar"></div>


			<div class="list">
				<table class="table">
					{% for i in isp_list %}
						<tr class="success lisitem"><td><a  name = '{{i.name}}'>{{i.name}}</a></td> <td id = 'alrt'>{{i.price}}</td></tr>
					{%endfor%}
				</table>

			</div>


			<div class = "sortop">
				<button class="btn btn-info btn-lg" id = "sort">
		          <span class="glyphicon glyphicon-tasks"></span> SORT BY
		        </button>
				<input type = "radio" name = "sortby" id = "prc"> Price
				<input type = "radio" name = "sortby" id = "rat"> Rating
			</div>
		</div>
		<div class = "col-sm-4 desc">
			<div class="desc_detail">Click on any ISP to get it's details</div>
		</div>
	</div>
</body>
</html>